<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HOSPITAL PATIENTS</title>
    <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>
<body>
<h1 class="invoices">Here are all the Invoices: </h1>

<table class="filedName">
    <tr>
        <th>Patient name:</th>
        <th>ID`s:</th>
        <th>kind:</th>
        <th>Symptoms:</th>
        <th>Diagnosis:</th>
        <th>Provided:</th>
        <th>Cost:</th>
        <th>Patient paid:</th>
        <th>Timestamp:</th>
    </tr>
    <tr th:each="invoice : ${invoices}">
        <td th:text="${invoice.patient.name}">Patient name:</td>
        <td th:text="${invoice.id}">Invoice ID:</td>
        <td th:text="${invoice.kind}">Patient kind:</td>
        <td th:text="${invoice.symptoms}">Patient symptoms:</td>
        <td th:text="${invoice.diagnosis}">Patient diagnosis:</td>
        <td th:text="${invoice.provided}">Patient provided:</td>
        <td th:text="${invoice.cost}">Cost:</td>
        <td th:text="${invoice.paid}">Patient paid:</td>
        <td th:text="${invoice.timestamp}">Timestamp:</td>
        <td>
            <span th:if="${invoice.paid == true}">Done!</span>
            <form th:if="${invoice.paid == false}" method="post" th:action="@{/invoices/paid}">
                <input name="id" th:value="${invoice.id}" type="hidden"/>
                <button type="submit"> Mark it as paid</button>
            </form>
        </td>
</table>

<div class="background-wrap">
    <img id="image-bg" th:src="@{/images/daan-stevens-282446-unsplash.jpg}"/>
</div>

<form method="post" th:action="@{/logout}">
    <button>Sign Out</button>

</form>
</body>
</html>