body {
    text-align: center;
    border: 1px solid red;
    background: antiquewhite;
    /*backface-visibility: inherit ;*/
}

h1 {
    color: aqua;
    /*border: 1px solid red;*/
}

h6 {
    color: #000;
    border: 1ch solid purple;
}

.name font {
    color: red;
    text-align: center;
}

.input {
    /*text-align: center;*/

}

.filedName font {

}

.symptoms {

}

.invoices {
    color: aqua;
}